<!DOCTYPE html>
<html lang="en">
<head>
	<title>Notes: about</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav>
		<div>
			<ul>
				<li class="left"><a href="{{url_for('index')}}">Note For All</a></li>
			</ul>
		</div>
		<!--Informacion-->
		<div>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="{{url_for('contact')}}">Contact</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h2>The proyect</h2>
		<p>This proyect take the objective of make note fast and easy, besides save this in internet in a personal account and give the posivility of download the note</p>
	</div>
</body>
</html>