<!DOCTYPE html>
<html lang="en">
<head>
	<title>Notes: Contact Us</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav>
		<div>
			<ul>
				<li class="left"><a href="{{url_for('index')}}">Note For All</a></li>
			</ul>
		</div>
		<!--Informacion-->
		<div>
			<ul>
				<li><a href="{{url_for('about')}}">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="{{url_for('logout')}}">Log out</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h2>Contact</h2>
		<p>if you want contact me you can write to: josiasrojasramires@gmail.com</p>
	</div>
</body>
</html>