<!DOCTYPE html>
<html lang="en">
<head>
	<title>Notes: Extention</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav>
		<div>
			<ul>
				<li class="left"><a href="{{url_for('index')}}">Note For All</a></li>
			</ul>
		</div>
		<!--Informacion-->
		<div>
			<ul>
				<li><a href="{{url_for('about')}}">About</a></li>
				<li><a href="{{url_for('contact')}}">Contact</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>Click the link for download the extention</h1>
		<h2><a href="https://drive.google.com/open?id=0B_IPubhTRC4ENHlCYmRXMkxYNmc">Download the extention</a></h2>
	</div>
</body>
</html>